.Aboutcard {
    display: grid;
    justify-items: center;
    align-content: center;
}

.Circle{
    background: #b25364;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px 80px 10px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Subtext {
    max-width: 70%;
}

@media (max-width: 1050px) {
    .Aboutcard {
        max-width: 300px;
    }

}