.Contact {
    text-align: center;
    display: grid;
    grid-template-rows: 20% 80%;
    min-height: 100vh;
    background-color: #F5F5F5;
    background-image: url(../../assets/gifs/cyberpunk7.gif);
    background-size: cover;
    background-position: center;
    color: #F5F5F5;


}
.Contact h1 {
    margin-top: 90px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 50px;

}

.Contact h1:before,
.Contact h1:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}

.Contact h1:before {
    right: 0.5em;
    margin-left: -50%;
}

.Contact h1:after {
    left: 0.5em;
    margin-right: -50%;
}




.FormContainer{
    width: 45%;
    height: 60%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.FormItems input{
    width:100%;
    background-color: #4c6ca2;
    border: 3px solid #132d67;
    color: white;
    margin: 1px;


}

.FormItems input::placeholder {
    color: white;
    padding-left: 5px;
}

.FormItems input:focus {
    border: 3px solid #b25364;
}


.FormItems textarea{
    width:100%;
    background-color: #4c6ca2;
    color: white;
    border: 3px solid #132d67;
    margin: 1px;
}

.FormItems textarea::placeholder {
    color: white;
    padding-left: 5px;
}

.FormItems textarea:focus {
    border: 3px solid #b25364;
}

.Contact button{ 
    height: 50px;
    width: 170px;
    align-self: start;
    justify-self: center;
    border-radius: 30px;
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.25);
    font-size: medium;
    margin-bottom: 100px;
}


.Contact button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
}