.Header {
    text-align: center;
  }
  
  .Header header {
    color: white;
    vertical-align: center;
    background-image: url(../../assets/gifs/cyberpunk7.gif);
    background-size: cover;
    background-position: top;
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 5% 20% 10%;
  }
  
  .Header h1{
    align-self: end;
    margin: 0 auto;
    font-size: 60px;
  
  }
  
  .Header h5{
    margin: 5px auto;
  
  }
  
  .logo {
    margin: 15px auto;
    align-self: start;
  }
  
  .Header button{ 
    height: 50px;
    width: 170px;
    align-self: start;
    justify-self: center;
    border-radius: 30px;
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.25);
    font-size: medium;
  
   }
  
  .Header button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
  }


@media(max-width: 450px){
  .Header header{
    min-height: 140vh;

  }

}